run = "npm start"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages]

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "KOT Backend"
author = 40339782

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[workflows.workflow]]
name = "Serve"
author = 40339782

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS=--openssl-legacy-provider npm run serve"

[[workflows.workflow]]
name = "Start Server"
author = 40339782

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Start KOT"
author = 40339782

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Run"
author = 40371288

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"
ignorePorts = false
publicDir = "/"

[nix]
channel = "stable-23_05"
